@tailwind base;

*{
    font-family: 'Poppins', sans-serif;
    
}

body{

    background: rgb(197,174,238);
    background: radial-gradient(circle, rgba(197,174,238,1) 0%, rgba(255,255,255,1) 100%); 
    background-position: center;

    
}

@tailwind components;
@tailwind utilities;